Data Technician/ Skills Bootcamp
Python - Second Day   
Just IT
31/10/2023

In [1]:
#Updating a list - change a value, by using the index number
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [2]:
#Updating a list - add one more item to the end of the list
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [3]:
#Updating List - The insert () method inserts an item at the specified index
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [4]:
#Updating List - To reverse a list use reverse () method
thislist = ["apple", "banana", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'banana', 'apple']

In [5]:
#Activity - Write a line of code that prompts the user to replace the middle number in the list with an integer number entered by the user
#Step1
the_hat=["1","2","3","4","5"]
user_number=input("Choose a number: ")
the_hat[2]=int(user_number)
print(the_hat)

Choose a number: 2
['1', '2', 2, '4', '5']

In [6]:
#Step2 - Write a line of code that removes the last element from the list
the_hat.pop(4)
print(the_hat)

['1', '2', 2, '4']

In [7]:
#Step3 - Write a line of code that prints the length of the existing list
len(the_hat)

4

In [8]:
#Tuple examples - Tuple are ordered, unchangeable and indexed
mytuple = ("apple", "banana", "cherry")
print(mytuple)

tuple_1 = (1, 2, 4, 8)
tuple_2 = 1., .5, .25, .125
print(tuple_1)
print(tuple_2)

('apple', 'banana', 'cherry')
(1, 2, 4, 8)
(1.0, 0.5, 0.25, 0.125)

In [9]:
#Set examples - They are unordered, unchangeable and unindexed
mySet= {"apple", "banana", "cherry"}
print(mySet)

for fruit in mySet:
 print(fruit)

{'apple', 'cherry', 'banana'}
apple
cherry
banana

In [10]:
#Dictionary example - They are ordered, changeable and do not allow duplicates
mydict = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [11]:
#Create a dictionary of 3 fruit with their correspond cost/ display all fruits only
dic_fruit={
    "apple":0.45,
    "banana":0.89,
    "cherry":0.75}
dic_fruit.keys()

dict_keys(['apple', 'banana', 'cherry'])

In [12]:
#Display the cost of the second fruit
print("\n", dic_fruit["banana"])

 0.89

In [13]:
#Ask the user for a fruit and check if the fruit is in the dictionary, if yes, display the cost of the fruit
user_fruit=input("Name a fruit: ")
if user_fruit in dic_fruit:
  cost=dic_fruit[user_fruit]
  print("The cost of the", user_fruit, "is", cost)
else:
  print(user_fruit, "This fruit it is not in the dictionary!")

Name a fruit: banana
The cost of the banana is 0.89

In [14]:
#Creating a function
def greeting(name):
  print("Hello", name)

In [15]:
#Calling a function
greeting("Allan")

Hello Allan

In [16]:
#Functions with parameters
def greeting (fname, lname):
  print("Hello", fname, lname)

greeting ("Jane","Crane")

Hello Jane Crane

In [17]:
#Functions with the return keyword
def number (number1,number2):
  answer = number1 + number2
  return answer
added_number = number(5,5)
print(added_number +20)

30

In [18]:
#Activity - Create functions that will perform some descriptive statistics on a list of number
#Create a calculation to perform a mean on the list (store this in a variable)
numbers=[2,4,6,8,10,32,10,31]
def calculate_mean(numbers):
 mean = sum(numbers) / len(numbers)
 return mean
mean_result = round(calculate_mean(numbers),1)
print("Mean:", mean_result)

Mean: 12.9

In [19]:
#Create a calculation to perform a variance on the list (store this in a variable)
def calculate_variance(numbers):
  mean = calculate_mean(numbers)
  variance = sum((x - mean) ** 2 for x in numbers) / len(numbers)
  return variance
variance_result = round(calculate_variance(numbers),1)
print("Variance:", variance_result)

Variance: 122.4

In [20]:
#Functions parameters
#Passing in multiple parameters
def sayhi (name,age):
  print("Hello",name, ", you are", age)

#Here we can bypass the order of arguments using keywords arguments
sayhi (age=12,name="Jessica")

Hello Jessica , you are 12

In [21]:
#Bypassing the number of keyword arguments with *args and **kwargs
#args acts as a tuple
def function (*args):
  print (args)
function (1, 23, 42)

(1, 23, 42)