Data Technician/ Skills Bootcamp
Python - First Day   
Just IT
30/10/2023

In [1]:
#Print in Python using end="" to put in the same line
print("My name is ", end='')
print("Monty Python.")

My name is Monty Python.

In [2]:
#Print in Python using sep and space
print("My", "name", "is", "Monty", "Python.", sep=" ")

My name is Monty Python.

In [3]:
#Print in Python using sep with a character and \n to start a new line
print("Monty", "Python.", sep="*", end="*\n")

Monty*Python.*

In [4]:
#Executing a string (chain of charcter) with "" or ''
print('this is my first python code')
print("hello", 'how are you doing?')
print("78767887")

this is my first python code
hello how are you doing?
78767887

In [5]:
#Arithmetic operations
print(10+40)
45+10

50

55

In [6]:
print(105//5)
print(15%2)
print(5**4)

21
1
625

In [7]:
#Using \n to start a new line, in a quotation
print("\t Literature adds to reality, it does not simply describe it. \n \t It enriches the necessary competencies that daily life requires and provides; \n \t and in this respect, it irrigates the deserts that our lives have already become.")

	 Literature adds to reality, it does not simply describe it.
 	 It enriches the necessary competencies that daily life requires and provides;
 	 and in this respect, it irrigates the deserts that our lives have already become.

In [8]:
#Import a dictionary
import math

In [9]:
#Using the dictionary
round(math.log2(100),2)

6.64

In [10]:
#Declaration of Variable
number1=12
print(number1)
number1*number1

12

144

In [11]:
#Declaration and Use of Variables
number2=100
number1+number2

112

In [12]:
#Declaration and use of variables
num1=10
num2=5
sum=num1+num2
print("The total of the sum is -", sum)

The total of the sum is - 15

In [13]:
#Checking data type
myName="Noelli"
print(myName)
print(type(myName))

Noelli
<class 'str'>

In [14]:
#Input Function
print("Tell me anything...")
anything = input()
print("Hmm...", anything, "... Really?")

Tell me anything...
hello
Hmm... hello ... Really?

In [15]:
#Lengh function
print(len(myName))

6

In [16]:
#Using input/ integer data type and increase one year at age
Name = input("Write your name: ")
Age = int(input("Write your age: "))

print("This is the user Name: ", Name)
print("The user age is ", Age + 1, "years old.")

Write your name: Noelli
Write your age: 36
This is the user Name:  Noelli
The user age is  37 years old.

In [17]:
#Activity - Python Program to check if a number is Positive or Negative (using if statement)
try:
 number = int (input("Enter a number: "))
 if number > 0:
  print("Positive Number")
 elif number==0:
  print("The number is equal Zero")
 else:
  print("Negative Number")
except:
 print("This is not a number!")

Enter a number: 6
Positive Number

In [18]:
#Activity - Python Program to check if a number is Odd or Even (using if statement)
try:
  numberc = int (input("Enter a number: "))
  if numberc % 2 == 0:
   print("This is an Even Number!")
  else:
   print("This is an Odd Number!")
except:
 print("This is not a number!")

Enter a number: 9
This is an Odd Number!

In [19]:
#While Loop - Print a number as long as it is less than 6
i=1
while i<6:
  print(i)
  i=i+1
print("The loop stopped!")

1
2
3
4
5
The loop stopped!

In [20]:
#While condition with a break statement - That will stop the program, even though its still True
i=1
while i<6:
  print(i)
  if i==3:
   break
  i=i+1

1
2
3

In [21]:
#While loop with increase and condition (only printing odd number from 1 to 10) - can be descrease as well
i=0
while i<10:
  i=i+1
  if i% 2 != 0:
      print(i)

1
3
5
7
9

In [23]:
#Guessing a number Game - Using a random number

import random
Rguess = random.randint(1, 50)

while True:
 userNum=int(input("Choose a number between 1-50: "))
 if userNum < Rguess:
    print("Little Lower, try it again!")
 elif userNum > Rguess:
    print("Little Higher, try it again!")
 else:
    print("You did it!\nThe right number is: ", Rguess)
    break

Choose a number between 1-50: 12
Little Lower, try it again!
Choose a number between 1-50: 20
Little Higher, try it again!
Choose a number between 1-50: 15
Little Higher, try it again!
Choose a number between 1-50: 14
You did it!
The right number is:  14

In [24]:
#List structure
student_list=['Daniel', 'Brian', 'Maurizio']
type(student_list)

list

In [25]:
#For Loop wihtin a list
for student in student_list:
  print(student, "is a student in the Python Course")

Daniel is a student in the Python Course
Brian is a student in the Python Course
Maurizio is a student in the Python Course

In [26]:
#Loop through the letters in the word "banana"
fruit="banana"
for letter in fruit:
 print(letter)

b
a
n
a
n
a

In [27]:
#Write a Python program to print numbers from 1 to 50
for numb in range (0,51,1):
 print(numb)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [28]:
#For Loop with Range function and step - increase 3 by 3 in this case
for items in range (0,50,3):
  print(items)

0
3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48

In [29]:
#Another way to do the previous loop
nums = range(0,51,3)
for n in nums:
  print(n)

0
3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48

In [30]:
#Write a code to print all even numbers from 0 to 100
for numbs in range(0,101,2):
 print(numbs)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [31]:
#Write a Python program to print odd numbers from 1 to 50
for num in range(1,50,2):
  print(num)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [32]:
#FizzBuzz Game - From 1 to 100/ If a number is divisible by 3, print "fizz."/ If a number is divisible by 5, print "buzz."
#If a number is both divisible by 3 and by 5, print "fizzbuzz." Otherwise, print just the number
for numbers in range (1,101):
 if numbers%3==0 and numbers%5==0:
  print("FizzBuzz")
 elif numbers%5==0:
  print("Buzz")
 elif numbers%3==0:
  print("Fizz")
 else:
  print(numbers)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz